{% extends 'base.html.twig' %}

{% block title %}Command index{% endblock %}

{% block body %}
    <div class="section wf-section">
        {% include '_component/menu_admin.html.twig' %}
        <h1 class="h2 top-margin app-title">Administration Commandes</h1>
        <div class="content-wrapper">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Created_at</th>
                    <th>Total_price</th>
                    <th>Status</th>
                    <th>Updated_at</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <td>{{ command.id }}</td>
                        <td>{{ command.createdAt ? command.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ command.totalPrice }}</td>
                        <td>{{ command.status }}</td>
                        <td>{{ command.updatedAt ? command.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_command_show', {'id': command.id}) }}">détails</a>
                            <a href="{{ path('app_command_edit', {'id': command.id}) }}">éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
