{% extends 'base.html.twig' %}
{% block title "Mes commandes" %}

{% block body %}
    <div class="section wf-section">
        <div class="content-wrapper top-margin">
            <div class="breadcrumbs"><a href="{{ path('app_index') }}" class="link">Home</a>
                <div class="slash">/</div>
                <div class="breadcrumb-text">Mes commandes</div>
            </div>
        </div>
        <h1 class="h2 top-margin">Mes commandes</h1>
        <div class="content-wrapper">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Date</th>
                                <th scope="col">Prix total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in commands %}
                                <tr>
                                    <th scope="row">{{ item.id }}</th>
                                    <td>{{ item.createdAt | date }}</td>
                                    <td>{{ item.totalPrice }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>
                                        {% if item.status == "pending" %}
                                            <form method="post" action="{{ path('app_profile_command_delete', {'id': item.id}) }}" onsubmit="return confirm('voulez-vous vraiment annuler votre commande ?');">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                                                <button class="btn btn-danger">Annuler</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

