<a href="{{ path('app_recette_show', {id: dish.id}) }}" class="collection-item w-inline-block">
    <div style="background-image:url({{ vich_uploader_asset(dish, 'image_file') }})" class="item-image">
        <div class="new-text">
            <img src="https://flagcdn.com/16x12/{{ dish.speciality | lower }}.png" alt="{{ dish.speciality }}">
        </div>
    </div>
    <div class="item-content">
        <div class="top-content">
            <div class="medium-paragraph">{{ dish.name }}</div>
            <p class="xs-paragraph">{{ dish.description }}</p></div>
        <div class="bottom-content">
            <div class="inline-text">
                <form action="{{ path('app_basket_add', {id: dish.id}) }}" method="post">
                    <button class="button-primary btn-sm w-inline-block" style="padding: 8px 8px" title="ajouter au panier">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                </form>
            </div>
            <div class="inline-text">
                <div class="medium-paragraph padding-right">$</div>
                <div class="medium-paragraph">{{ dish.price }}</div>
            </div>
        </div>
    </div>
</a>
